:root {
    --main-text-color: #fff;
    --second-text-color: #000;
    --main-background-color: #12343B;
    --second-background-color: #2A9D8F;
  }

* {box-sizing: border-box;}

body {
    margin: 0;
    font-size: 1rem;
    color: var(--main-text-color);
    line-height: 1.6;
    background: var(--main-background-color);
}

img {max-width: 100%;}


/* ==================
    Typography
===================== */

.contact-title {
    font-family: 'Merriweather', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
}

@media (min-width: 900px) {
    .contact-title {
        font-size: 2.6rem;
    }
}

.form-title {
    margin: 0;
    font-size: 1.35rem;
    letter-spacing: 0.02rem;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
}

.footer-title {
    text-transform: uppercase;
}

/* ==================
    general layout
===================== */

.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 1366px) minmax(1em, 1fr);
}

/* navigation */

.header {
    background: var(--second-background-color);
}

.header-content {
    display: flex;
    grid-column: 2 / -2;
}

.logo {
    padding: .4em 0;
    width: 200px;
    align-self: center;
}

.btn {
    text-decoration: none;
    color: var(--main-text-color);
    font-size: 1rem;
    letter-spacing: .035rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: .6em 1.75em;
    background: var(--second-background-color);
    border-radius: 6px;
    margin-top: .8em;
    width: 40%;
}

@media (min-width: 900px)
{
    .btn {
        justify-self: center;
    }
    .form-container {
        width: 45%;
        align-self: center;
    }
}

/* NAV */

.nav {
    position: fixed;
    background: var(--second-background-color);
    width: 100%;
    top: 0;
    left: 100%;
    bottom: 0;
    right: 0;
    transform: translateX(0);
    transition: transform 250ms;
    overflow: hidden;
}

.navigation-open {
    transform: translateX(-100%);
}

.nav-current {
    border-bottom: 2.5px solid var(--main-background-color);
    padding-bottom: 4px;
}

.nav-list {
    z-index: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nav-link,
.nav-hover {
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--main-background-color);
}

.close-nav {
    border: 0;
    background: 0;
    color: var(--main-text-color);
    font-size: 3rem;
    cursor: pointer;
    padding: .5em;
    position: absolute;
}

.open-nav {
    border: 0;
    background: 0;
    color: var(--main-text-color);
    cursor: pointer;
    padding: .5em;
    margin-left: auto;
    font-size: 1.7em;
}

.non-active {
    display: none;
}

.nav-item-child {
    text-align: center;
}

@media (min-width: 900px) {

    .nav-item-child {
        display: none;
        text-align: left;
    }
    
    .open-nav,
    .close-nav {
        display: none;
    }

    .nav {
        position: initial;
    }

    .nav-list {
        flex-direction: row;
        justify-content: flex-end;
    }

    .nav-link,
    .nav-hover {
        font-size: .9rem;
        margin-left: 1.5em;
    }

    .dropdown-hover {
        float: left;
        overflow: hidden;
    }

    .dropdown-hover:hover .nav-item-child {
        display: block;
    }

    @media (min-width: 1000px) {

        .nav-item {
            margin-left: 2em;
        }
        .nav-link,
        .nav-hover {
            font-size: 1rem;
        }
    }
}

/* ==================
    info section / contact section
===================== */

.contact {
    color: var(--second-text-color);
    padding: 2em 0;
    background-image: linear-gradient(#EFCC77, #F4A261);
}

.contact > * {
    grid-column: 2 / -2;
}

@media (min-width: 900px) {
    .contact {
        background-image: none;
        margin-top: -2em;
    }

    .contact-container {
        padding: 2em 1em;
        background-image: linear-gradient(#EFCC77, #F4A261);
        display: flex;
        flex-direction: column;
    }
}

/* footer */

.footer {
    background: var(--second-background-color);
    padding: 1em 0;
    text-align: left;
    color: white;
    margin-top: 2em;
}

.footer-main,
.social-list {
    grid-column: 2 / -2;
}

.footer-logo {
    display: none;
}

.social-list {
    list-style: none;
    padding: 0;
    margin: 0 0 1em;
    display: flex;
    justify-content: flex-start;
    align-self: center;

}

.social-link {
    color: white;
    font-size: 2.4rem;
    padding-right: 1em;
}

@media (min-width: 900px) {
    .footer {
        display: flex;
        justify-content: space-around;
    }

    .footer-logo {
        display: block;
        align-self: center;
    }
}

/* ==================
    form
===================== */

.contact {
    margin: 2em 0;
}

.contact-form {
    display: grid;
    
}

input,
textarea {
    margin-bottom: .75em;
    padding: .4em;
    font-family: inherit;
}

textarea {
    resize: none;
    height: 200px;
}