:root {
    --main-text-color: #fff;
    --second-text-color: #000;
    --main-background-color: #264653;
    --second-background-color: #2A9D8F;
  }

* {box-sizing: border-box;}

body {
    margin: 0;
    font-size: 1rem;
    color: var(--main-text-color);
    line-height: 1.6;
    background: var(--main-background-color);
}

img {max-width: 100%;}


/* ==================
    Typography
===================== */

body {
    font-family: 'Barlow', sans-serif;
}

h1,
h2,
.footer-title,
.team-card,
.second-title
 {
    font-family: 'Merriweather', sans-serif;
}

h1,
h2,
.footer-title,
.close-nav,
label,
.icon-text {
    font-weight: 700;
}

.main-title {
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.second-title {
    font-size: 1.4rem;
    text-align: center;
    font-weight: 600;
    margin-top: 2.5em;
    margin-bottom: 0.2em;
}

.humane-title {
    margin-top: 1.5em;
}

.pages-text {
    line-height: 1.3;
    font-size: 1.15rem;
    margin: 0;
    text-align: center;
    margin-bottom: .8em;
}

.icon-text {
    font-size: 1.1rem;
    width: 12%;
    text-align: center;
}

.footer-title {
    text-transform: uppercase;
}

.subtitle {
    font-size: 1.15rem;
    color: #434343;
    font-weight: 500;
    letter-spacing: .03rem;
    margin: 0;
    border-bottom: 4px solid var(--main-background-color);
    margin-top: -.5em;
    width: 264px;
}

@media (min-width: 675px) {
    .main-title {
        border-bottom: 0;
        font-size: 2.75rem;
        line-height: 1em;
        font-weight: 700;
        width: 100%;
    }
    .second-title {
        font-size: 1.6rem;
        text-align: left;
        margin-bottom: .8em;
    }
    .pages-text {
        text-align: left;
    }
    .subtitle {
        margin-top: -.1em;
        font-size: 1.25rem;
        width: 365px;
    }
}

@media (min-width: 1250px) {
    .main-title {
        font-size: 3rem;
        width: 10%;
        line-height: 3.2rem;
        letter-spacing: .03rem;
        margin-top: .75em;
        font-size: 3rem;
    }
    .subtitle {
        font-size: 1.35rem;
        border: 0;
        margin: 0;
    }
    .second-title {
        margin-top: 25%;
        margin-left: 1.3em;
        border-bottom: 4px solid var(--main-background-color);
        padding-bottom: .25em;
    }

    .humane-title {
        width: 32%;
    }

    .right-wrap {
        display: flex;
        justify-content: end;
        margin: 0;
        padding: 0;
    }

    .conservation-title {
        width: 36%;
        text-align: right;
        margin-right: 1.5em;
    }

    .conservation > .text1 {
        text-align: right;
    }

    .animal-title {
        width: 19%;
    }
}

/* ==================
    general layout
===================== */

.main-grid {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 1366px) minmax(1em, 1fr);
}

/* ==================
    content section
===================== */

.content {
    color: var(--second-text-color);
    padding: 2em 0;
    background-image: linear-gradient(#EFCC77, #F4A261);
}

.content-container {
    background-image: linear-gradient(#EFCC77, #F4A261);
    padding: 0em 1em;
}

.content > * {
    grid-column: 2 / -2;
}

@media (max-width: 675px) {
    .image-landscape {
        object-fit: cover;
        width: 100%;
        height: 19em;
    }

    .image {
        object-fit: cover;
        width: 100%;
        height: 18em;
    }

    .d-image1, .g-image2, .ed-image2 {
        display: none;
    }

    .image-b,
    .text-b {
        border-bottom: 4px dashed black;
        padding-bottom: 2.5em;
    }
}

@media (max-width: 1250px) {
    .img-slider,
    .fa-angle-left,
    .fa-angle-right,
    .circle-container,
    .icon-container,
    .icon-text-container {
        display: none;
    }
}

@media (min-width: 675px) {
    .sub-content {
        margin-bottom: 2em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0em 2em;
    }
    .conservation {
        grid-gap: 1em 2em;
    }
    .text1,
    .text2 {
        align-self: center;
    }
    .image2 {
        align-self: end;
    }
    .image2 {
        grid-area: pic2;
    }
    .text1 {
        grid-area: text1;
    }
    .image1 {
        grid-area: pic1;
    }
    .text2 {
        grid-area: text2;
    }

    .humane {
        grid-template-areas:
        "pic1 text1";
    }
    .conservation {
        grid-template-areas:
        "text1 text1"
        "pic1 text2";
    }
    .animal {
        grid-template-areas: 
        "text1 pic1";
    }
}

@media (min-width: 800px) {
    .image {
        max-width: 75%;
        justify-self: center;
    }
}

@media (min-width: 1250px) {

    /* Landing Section */

    .content {
        background-image: none;
        margin-top: -2em;
    }

    .main-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2.5em;
    }

    .img-slider {
        display: flex;
    }
    .btn-right, 
    .btn-left {
        color: var(--second-text-color);
        background: 0;
        border: 0;
        font-size: 2em;
        margin: 0 1em;
    }
    
    .btn-right:hover,
    .btn-left:hover
    {
        cursor: pointer;
    }

    .img-slider > .circle-container > img {
        object-fit: cover;
        height: 25rem;
        width: 50rem;
    } 

    .circles {
        margin-top: .5em;
        font-size: 1.25rem;
        color: var(--second-text-color);
        cursor: pointer;
    }

    .circle-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icon-container {
        filter: drop-shadow(2px 1px 2px rgb(0 0 0 / .5));
        max-width: 12%;
        cursor: pointer;
    }
    
    .icon-wrapper {
        font-size: 4rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -55%);
    }

    .icon-section-container,
    .icon-text-container {
        display: flex;
        justify-content: space-around;
    }

    /* Text Sections */

    .sub-content {
        margin: 2.5em;
    }
    .image {
        align-self: center;
    }
    .image-landscape {
        align-self: center;
    }

    /* Humane Sub-Section */

    .humane {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "text1 pic1";
        margin: 0 2.5em;
    }

    .humane > img {
        height: 22em;
        width: 100%;
        object-fit: cover;
    }


    /* Conservation Sub-Section */

    .conservation {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "text2 pic1 text1";
        margin: 0 2.5em; 
    }

    .conservation > img {
        height: 20em;
        object-fit: cover;
    }

    /* Animals Sub-Section */

    .animal {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "text1 pic1";
    }

    .animal > .image1,
    .animal, .text1 {
        justify-self: end;
    }
}

/* ==================
    navbar
===================== */

.header {
    background: var(--second-background-color);
    margin-bottom: 2em;
}

.header-content {
    display: flex;
    grid-column: 2 / -2;
}

.logo {
    padding: .4em 0;
    width: 200px;
    align-self: center;
}

.nav {
    position: fixed;
    background: var(--second-background-color);
    width: 100%;
    top: 0;
    left: 100%;
    bottom: 0;
    right: 0;
    transform: translateX(0);
    transition: transform 250ms;
    overflow: hidden;
}

.navigation-open {
    transform: translateX(-100%);
}

.nav-list {
    z-index: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.nav-link,
.nav-hover {
    color: var(--main-text-color);
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--main-background-color);
}

.close-nav {
    border: 0;
    background: 0;
    color: var(--main-text-color);
    font-size: 3rem;
    cursor: pointer;
    padding: .5em;
    position: absolute;
}

.open-nav {
    border: 0;
    background: 0;
    color: var(--main-text-color);
    cursor: pointer;
    padding: .5em;
    margin-left: auto;
    font-size: 1.7em;
}

.non-active {
    display: none;
}

.nav-item-child {
    text-align: center;
}

@media (min-width: 700px) {

    .nav-item-child {
        display: none;
        text-align: left;
    }
    
    .open-nav,
    .close-nav {
        display: none;
    }

    .nav {
        position: initial;
    }

    .nav-list {
        flex-direction: row;
        justify-content: flex-end;
    }

    .nav-link,
    .nav-hover {
        font-size: .9rem;
        margin-left: 1.5em;
    }

    .nav-current {
        border-bottom: 2.5px solid var(--main-background-color);
        padding-bottom: 4px;
    }

    .dropdown-hover {
        float: left;
        overflow: hidden;
    }

    .dropdown-hover:hover .nav-item-child {
        display: block;
    }

    @media (min-width: 1000px) {

        .nav-item {
            margin-left: 2em;
        }
        .nav-link,
        .nav-hover {
            font-size: 1rem;
        }
    }
}

/* ==================
    footer
===================== */

.footer {
    background: var(--second-background-color);
    padding: 1em 0;
    text-align: left;
    color: white;
    margin-top: 2em;
}

.footer-main,
.social-list {
    grid-column: 2 / -2;
}

.footer-logo {
    display: none;
}

.social-list {
    list-style: none;
    padding: 0;
    margin: 0 0 1em;
    display: flex;
    justify-content: flex-start;
    align-self: center;

}

.social-link {
    color: white;
    font-size: 2.4rem;
    padding-right: 1em;
}

@media (min-width: 700px) {
    .footer {
        display: flex;
        justify-content: space-around;
    }

    .footer-logo {
        display: block;
        align-self: center;
    }
}